.yourOrder {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(68, 68, 68, 0.1);
  padding: 40px;
  width: 360px;
  height: 428px;
}

.orderTitle {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 32px;
}

.productsOrder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderText {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
}

.orderPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.price {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 20px;
}

.discount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);
}

.deliveryPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(68, 68, 68, 1);
}

.totalOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalOrderText {
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
}

.totalPrice {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 25px;
}

.checkout {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.checkoutBtn {
  color: white;
  background-color: black;
  border: none;
  width: 100%;
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.borderRight {
  background-color: black;
  width: 2px;
  height: 50px;
}
