.reviewed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.oldPrice {
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 12px;
  text-decoration: line-through;
  margin-top: 0;
}

.currentPrice {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}

.filterTitle {
  border-bottom: 2px solid black;
  padding-bottom: 14px;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 24px;
}

.reviewedImage {
  max-width: 75px;
  max-height: 85px;
}

.reviewedImg {
  width: 75px;
  height: 85px;
}

.reviewedCard {
  width: 240px;
  height: 85px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.reviewedInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviewedName {
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
  margin-top: 15px;
}

.reviewedPricing {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
