.contentBlock {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
  padding-right: 60px;
}

.content {
  position: relative;
}

.title {
  position: absolute;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 80px;
  top: 111px;
  left: 390px;
}

.breadCrumbs {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 12px;
  top: 212px;
  left: 390px;
  align-items: center;
  padding: 5px 0 5px 0;
}

.verticalLine {
  position: absolute;
  left: -7.5px;
  width: 15px;
  height: 0;
  border: 1.5px solid black;
  rotate: -90deg;
}

.line {
  position: absolute;
  background-color: black;
  height: 2px;
  width: 850px;
  top: 288px;
}

.rectangleMassiveOne {
  margin-left: 60px;
  margin-top: 32px;
}

.contentImg {
  max-width: 800px;
  max-height: 400px;
}
