.filterTitle {
  border-bottom: 2px solid black;
  padding-bottom: 14px;
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 24px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.categoriesList {
  padding-left: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.categorieString {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  &:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(35%) saturate(600%)
      hue-rotate(310deg);
    color: rgba(255, 142, 142, 1);
    cursor: pointer;
  }
}

.categorie {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  display: flex;
  position: relative;
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
  height: 24px;
  &.active {
    color: rgba(255, 142, 142, 1);
  }
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titleAndList {
  @extend .categories;
}

.checkboxList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 20px;
}

.checkboxInput {
  appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(68, 68, 68, 0.2);
  transition: 500ms;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 0;
    height: 0;
    background-image: url("../../assets/icons/checkmark.svg");
    background-repeat: no-repeat;
    transition: 500ms;
  }

  &:checked::after {
    width: 15px;
    height: 15px;
  }

  &:disabled {
    background: white;
  }

  &:disabled::after {
    filter: grayscale(100%);
  }

  &:checked + .checkboxLabel {
    color: rgba(255, 142, 142, 1);
  }
}

.checkboxLabel {
  padding-left: 14px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 14px;
}

.checkbox {
  margin-top: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceFilter {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.priceInput {
  border-bottom: 1px solid black;
  width: 112px;
}
